@model BookStore.Models.Entity.TBLPRODUCT


@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Product Name</label>
        @*@Html.TextBoxFor(m => m.PRODUCTNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PRODUCTNAME, "", new { @style = "color:red" })*@
        <input type="text" class="form-control" name="PRODUCTNAME" required="" />
    </div>
    <div>
        <label>Brand</label>
        <input type="text" class="form-control" name="BRAND" required="" />
    </div>
    <div>
        <label>Category</label>
        @Html.DropDownListFor(m => m.TBLCATEGORY.CATEGORYID, (List<SelectListItem>)ViewBag.vls, new { @class = "form-control" })
    </div>
    <div>
        <label>Price</label>
        <input type="text" class="form-control" name="PRICE" required="" />
    </div>
    <div>
        <label>Stock</label>
        <input type="text" class="form-control" name="STOCK" required="" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn2">Add Product</button>
    </div>
    <script>
        $("#btn2").click(function () {
            alert("The Product Has Been Added...")
        })
    </script>
</form>

